<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <style>
    body{
      width:50%;
      margin-left: auto;
      margin-right: auto;

    }
    h1 {
      text-align: center;
    }

    table {
	    border-collapse: collapse;
      margin-left: auto;
      margin-right: auto;

    }
    th {
      border-bottom: #d6a3ff 3px solid;
      text-align: left;
      padding: 10px;
      font-weight: normal;
    }
    td {
      border-bottom: #d6a3ff 1px solid;
      text-align: left;
      padding: 10px;
    }
    tr:hover {
        background: #d089ff;
        color: #FFFFFF;
    }
  </style>

  <h1>測定データの詳細</h1>
  <table>
    <tr>
      <td>サンプル名</td>
      <td>
        <%= row.sample_name %>
      </td>
    </tr>
    <tr>
      <td>ファイル</td>
      <td>
        <%= row.csv_file %>
      </td>
    </tr>
    <tr>
      <td>測定装置</td>
      <td>
        <%= row.instrument %>
      </td>
    </tr>
    <tr>
      <td>サンプリングピッチ</td>
      <td>
        <%= row.wavelength_interval %>
      </td>
    </tr>
    <tr>
      <td>スリット幅</td>
      <td>
        <%= row.slit_width %>
      </td>
    </tr>
    <tr>
      <td>光路長</td>
      <td>
        <%= row.optical_path_length %>
      </td>
    </tr>
    <tr>
      <td>スキャンスピード</td>
      <td>
        <%= row.scan_speed %>
      </td>
    </tr>
    <tr>
      <td>備考</td>
      <td>
        <%= row.setting_remarks %>
          </textarea>
      </td>
    </tr>
    <tr>
      <td>バッファー組成</td>
      <td>
        <%= row.buffer %>
      </td>
    </tr>
    <tr>
      <td>温度</td>
      <td>
        <%= row.temperature %>
      </td>
    </tr>
    <tr>
      <td>エネルギー</td>
      <td>
        <%= row.energy %>
      </td>
    </tr>
    <tr>
      <td>ピーク波長</td>
      <td>
        <%= row.peak_wavelength %>
      </td>
    </tr>
    <tr>
      <td>備考</td>
      <td>
        <%= row.condition_remarks %>
      </td>
    </tr>
</body>
</html>