<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <style>
    body{
      width:80%;
      margin-left: auto;
      margin-right: auto;

    }
    h1 {
      text-align: center;
    }

    p {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }


    table {
      width: 80%;
	    border-collapse: collapse;
      margin-left: auto;
      margin-right: auto;

    }
    th {
      border-bottom: #d6a3ff 3px solid;
      text-align: left;
      padding: 10px;
      font-weight: normal;
    }
    td {
      border-bottom: #d6a3ff 1px solid;
      text-align: left;
      padding: 10px;
    }
    tr:hover {
        background: #d089ff;
        color: #FFFFFF;
    }
  </style>

  <h1>Spectral DB</h1>
  <a href="upload/"><p>Add Data</p></a>
  <table>
    <tr>
      <th>ID</th>
      <th>サンプル名</th>
      <th>更新日</th>
      <th>ファイル名</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% for(var i=0; i<data.length; i++) { %>
    <tr>
      <td><%= data[i].id%></td>
      <td><%= data[i].sample_name%></td>
      <td><%- data[i].created_at%></td>
      <td><%- data[i].csv_file%></td>
      <td><a href=<%- "detail/" + data[i].id%>>詳細</a></td>
      <td><a href=<%- "download/" + data[i].csv_file%>>Download</a></td>
      <td><button><a href=<%- "delete/" + data[i].id%>>Delete</a></button></td>
      <td><button><a href=<%- "plot/" + data[i].id%>>View</a></button></td>
    </tr>
    <% } %>
  </table> 
  
</body>
</html>