<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="upload/"><p>登録</p></a>

  <table>
    <tr>
      <th>ID</th>
      <th>サンプル名</th>
      <th>更新日</th>
      <th>ファイル名</th>
    </tr>
    <% for(var i=0; i<data.length; i++) { %>
    <tr>
      <td><%= data[i].id%></td>
      <td><%= data[i].sample_name%></td>
      <td><%- data[i].created_at%></td>
      <td><%- data[i].csv_file%></td>
      <td><a href=<%- "edit/" + data[i].csv_file%>>詳細</a></td>
      <td><a href=<%- "download/" + data[i].csv_file%>>ダウンロード</a></td>
      <td><a href=<%- "delete/" + data[i].id%>>削除</a></td>
    </tr>
    <% } %>
  </table> 
</body>
</html>